<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="movie-title">
    <h1 *ngIf="selectedItem">{{ selectedItem.title }}</h1>
    <h2 item-right>Released in {{ selectedItem.release_date }}</h2>
  </div>
  <div class="movie-details" text-left *ngIf="selectedItem">
    <h3>Director: {{ selectedItem.director }}</h3>
    <h3>Producer: {{ selectedItem.producer }}</h3>
    <p>{{ selectedItem.description }}</p>
  </div>
</ion-content>
