page-item-details {
  h1 {
    font-size: 4em;
    font-weight: bold;
  }
  .movie-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2em;
  }
  .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 2em;
  }
}
